body{
    background-color: #332D2D;
    color:  #FBFBFB

}

.btn-outline-primary{
    background-color: #3B71CA;
    color:  #FBFBFB;
    margin: 0 0.1em;
}

#imageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
        height: 70vh;
        background-color: #54B4D3;
        line-height: 70vh;
        margin: 0.5em auto;
        border-radius: 10px;
    }

.footer {
    padding: 0.25em 0;
    text-align: center;
}

.image-item{
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
}